$ff-Primary: 'Heebo', sans-serif;

$fw-ExtraLight200: 200;
$fw-Regular400: 400;
$fw-SemiBold600: 600;
$fw-ExtraBold800: 800;

$fs-ExtraBig: 3.8rem;
$fs-Big: 3rem;
$fs-Medium: 2rem;
$fs-MediumLight: 1.3rem;
$fs-Small: 1rem;
$fs-ExtraSmall: 0.8rem;

$clr-Primary: #FFFFFF;
$clr-Secondary: #000000;
$clr-MainDesign: #FDBD03;
$clr-BackDesign: #E5EEFF;